################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JquerySPA/bin
/JquerySPA/obj/Debug
/packages
